@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  --background: #e6e8e6;
  --font: #f4f2f3;
  --font2: #2f2f2f;
  --border: #4c4b58;
  --highlight: #c33541;
  --valid: #57af1d;

  --primary: #2e294e;
  --secondary: #568ea3;
  --terciary: #ff8c42;

  /* Sizes */

  --small: 5px;
  --medium: 10px;
  --large: 15px;
  --xlarge: 25px;
  --xxlarge: 35px;

  box-sizing: border-box;
  font-family: 'Nurito', serif;
  font-synthesis: none;
  font-weight: 400;
  /* line-height: 1.5; */
  list-style: none;

  text-decoration: none;
  text-rendering: optimizeLegibility;
}

* {
  color: var(--font);
  margin: 0px;
  padding: 0px;
}
body {
  background-color: var(--background);
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#app {
  width: 100%;
}

#app-container {
  width: 100%;
  min-height: calc(70vh - 2rem);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

#app-container * {
  color: var(--font2);
}
