.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: calc(100%-var(--medium));
  margin: var(--medium);
}
.enrolledEvents {
  width: 90%;
  background-color: #9fcc82;
  display: flex;
  flex-direction: column;
  border-radius: var(--large);
  box-shadow: 5px 5px var(--border);
}
.availableEvents {
  width: 90%;
  background-color: #9ebbc5;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border-radius: var(--large);
  box-shadow: 5px 5px var(--border);
}

.availableEvents > h2 {
  margin: var(--medium) 0px;
  align-self: center;
}
.enrolledEvents > h2 {
  margin: var(--medium) 0px;
  align-self: center;
}

.card {
  align-self: center;
  border: 2px solid var(--border);
  width: 90%;
  display: flex;
  margin: var(--medium);
  border-radius: var(--medium);
  gap: var(--small);
}

.card > span {
  display: none;
}
.card > div:first-of-type {
  width: 20%;
  align-content: center;
  border-radius: var(--small);
}
.card > div:first-of-type > img {
  max-width: 100px;
  width: 100%;
  object-fit: contain;
  border-radius: var(--small);
}
.event-card-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event-card-info > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.event-card-info > div:last-of-type {
  height: 100%;
  flex-direction: column;
}

.event-card-info > div > button {
  float: left;
  width: 80px;
  height: 1.5rem;
  background-color: var(--background);
  border: none;
  border-radius: var(--small);
  align-self: flex-end;
}
.event-card-info > div > button:hover {
  background-color: var(--terciary);
}

.event-card-info > div > h3 {
  font-size: 1.5rem;
}

.card > * {
  margin: var(--small);
}
#selEventContainer {
  margin-left: var(--medium);
  height: 3rem;
}

#selEventContainer > h3 {
  display: inline-block;
  width: 10%;
}
#selectEvents {
  padding: 7px 40px 7px 12px;
  width: 40%;
  border: 1px solid var(--border);
  border-radius: 5px;
  background: var(--background);
  box-shadow: 0 1px 3px -2px var(--border);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
&:required:invalid {
  color: #5a667f;
}

#selectEvents > option {
  color: #223254;
}
&:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 0 2px rgba(#0077ff, 0.2);
}
&:hover + svg {
  stroke: #0077ff;
}
.notEnrolled {
  align-self: center;
  border: 2px solid var(--border);
  width: 90%;
  margin: var(--medium);
  padding: var(--medium);
  text-align: center;
  border-radius: var(--medium);
  gap: var(--small);
}
