#orgEvsContainer {
  width: calc(100%- 2 * var(--large));
  padding: var(--large);
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  gap: var(--large);
}
.eventOrg {
  width: calc(100% - var(--xlarge));
  display: flex;
  flex-direction: column;
  padding: var(--medium);
  gap: 20px;
  border: 2px solid var(--border);
  border-radius: var(--medium);
  box-shadow: 5px 5px var(--border);
}
.eventOrgCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
}
.eventOrgCard > div:last-of-type {
  width: 30%;
  border-right: 2px solid lightgray;
  border-left: 2px solid lightgray;
}
.eventOrgCard > div:first-of-type {
  width: 40%;
}
.eventOrgCard > div:first-of-type > h3 {
  font-size: 40px;
}
.verification {
  border-radius: var(--small);
  align-self: flex-end;
  text-align: center;
  width: 50%;
}
.eventOrgCard > img {
  width: 30%;
  height: 6rem;
  border-radius: var(--small);
  object-fit: contain;
  align-self: center;
}
.eventOrganized > h3 {
  font-size: 25px;
}

.asistants {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 5px;
  width: calc(100%-50px);
  margin-left: 20px;
}

.contTable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.userCont {
  border-bottom: 1px solid grey;
  padding: var(--small);
}
.contTable > p {
  width: 15%;
}

.verifiedOrg {
  background-color: green;
}

.notverifiedOrg {
  background-color: red;
}
.noOrgEv {
  margin: var(--xlarge);
  border: 1px solid grey;
  border-radius: 5px;
  height: 2rem;
  text-align: center;
}
