.hidden {
  display: none;
}
/* Maquetar user Cards y event cards a algo mas bonito */
.verified {
  background-color: var(--valid);
}

.notVerified {
  background-color: var(--highlight);
  color: var(--font) !important;
}

.adminContainer {
  width: calc(100%-var(--medium) * 2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: var(--small);
  gap: var(--medium);
}

.adminCard {
  display: flex;
  flex-direction: column;
  gap: var(--medium);
  align-items: left;
  justify-content: space-evenly;
  padding: var(--medium);
  border-radius: var(--medium);
  box-shadow: 5px 5px var(--small);
  border: 2px solid var(--border);
}

.adminCard > h3 {
  align-self: center;
}
.adminCard > p {
  height: 80px;
}
.adminCard > h5 {
  text-align: center;
  padding: var(--small);
  border-radius: var(--small);
  width: 50%;
  align-self: center;
  font-size: 16px;
}
.adminCard > img {
  align-self: center;
  width: 100px;
}
.adminCard > button {
  width: 80%;
  height: 1.5rem;
  align-self: center;
  border-radius: var(--small);
  border: none;
  background-color: var(--secondary);
  color: var(--font) !important;
}

.adminCard > button:hover {
  background-color: var(--terciary);
  color: var(--font2) !important;
}
