.profile {
  background-color: var(--primary);
}

.navBtns {
  width: 100%;
  gap: var(--large);
  display: flex;
  flex-direction: row;
  background-color: var(--primary);
  justify-items: flex-start;
}
#logOut {
  justify-self: flex-end;
}

.navBtns > button {
  background-color: var(--primary); /* Green background */
  border: 0px solid; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
.navBtns > button:hover {
  background-color: var(--secondary);
}
